body {
    margin: 0;
    background-color: hsl(var(--base-hue), 10%, 10%);
    color: white;
}

:root {
    font-family: "Comfortaa", sans-serif;

    --pink: 333;
    --purple: 255;
    --blue: 200;
    --green: 125;
    --lime: 90;
    --orange: 45;
    --red: 360;
    --darkorange: 20;

    --base-hue: var(--green);
}
